*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
li{
    font-family: 'Cinzel', serif;}
h3{
    font-family:'Dancing Script', cursive;
}
h2{
    font-family: 'Vollkorn', serif;
}
p{
    font-family: 'Cormorant Garamond', serif;
}
html{
    scroll-behavior: smooth;
}

.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 6.5rem;
    background: #222;
    z-index: 100000;
}
.nav h2{
    color: #fff;
    font-size: 1.8rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#item li{
    list-style: none;
    padding-right: 30px;
}
#item li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
}
#item li a:hover , #item .icon i:hover{
    color: #ff5733;
    cursor: pointer;
}
#item .icon i {
    color:#fff;
    padding-right: 25px;
    font-weight: bolder;
}
#item .icon .fa-facebook{
    padding-left: 10px;
}
#item .icon .fa-facebook:hover{
    color: blue;
}
#item .icon .fa-instagram:hover{
    color: rgb(255, 0, 140);
}
#item .icon .fa-twitter:hover{
    color:rgb(40, 40, 255);
}
#bar{
    color: #f13a11;
    font-weight: lighter;
    font-size: 1.5rem;
    display: none;
}



/* =================HOME Layout=========== */



.back{
    background-image: url(bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1; /* It will always be in the underneath of the background image */
}
.back .overlay{
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.mid{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform:translateX(-50%);
    /* If some thing change then apply the below one */
    /* transform: translate(-50% -50%); */
    text-align: center;
}
.mid p{
    color: #7f8c8d;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
    font-family: 'Josefin Sans', sans-serif;
}
.mid h3{
    color: #fff;
    font-size: 3rem;
    font-family:'Red Hat Display', sans-serif;
}
.mid .btn{
    margin-top: 2rem;
}
.mid .btn a{
    text-decoration: none;
    text-transform: uppercase;
}
.mid .btn a.simple{
    color: #fff;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
}
.mid .btn a.simple:hover{
    color: #ff5733;
}
.mid .btn a.border{
    color: #ff5733;
    border: 1px solid #ff5733;
    font-weight: 500;
    padding: 1rem 1.6rem;
    border-radius: 3px;
}
.mid .btn a.border:hover{
    background-color: #fff;
    border-color: #fff;
}




/* ===============details Layout=========== */




.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 8rem 20rem;
    background-color: #171819;
}
.details h3,h6,h5{
    color: #fff;
}
.details .one{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.details .two{
    width: 45%;
    border-left: 1px solid #666262;
    padding-left: 4rem;
}
.details .one h3, .details .two h3{
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}
.details .one h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.2rem;
    font-family: 'Satisfy', cursive;
}
.details .one p{
    color: #666262;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}
.details .one a{
    color: #fff;
    background: #f13a11;
    padding: 1rem 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
}
.details .one a:hover{
    background-color: #fff;
    color: #f13a11;
}
.details .two h5{
    font-size: 1.1rem;
}
.details .two p{
    font-size: 1.1rem;
    color: #666262;
    margin-bottom: 0.8rem;
}



/* =================ABOUT Layout=========== */




.trainer{
    background: #fff;
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.trainer .about{
    width: 39%;
}
.trainer .about h2{
    color: #212529;
    font-size: 2.1rem;
    padding-bottom: 1.8rem;
}
.trainer .about p{
    color: #7f8c8d;
    font-size: 1.1rem;
}
.trainer .people{
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.trainer .people .team1{
    width: 45%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 10px 10px 21px rgba(0, 0, 0, 0.13);
}
.trainer .people .team1 .img img{
    width: 100%;
    object-fit: cover;
}
.trainer .people .team1 .teamDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}
.trainer .people .team1 .name,.trainer .people .team1 .pro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.trainer .people .team1 .name{
    padding: 5px 20px 0 20px;
}
.trainer .people .team1 .pro{
    padding: 2px 20px 0px 20px;
}
.trainer .people .team1 .name h4{
    font-size: 1.5rem;
    color: #212529;
}
.trainer .people .team1 .name i,.trainer .people .team1 .pro i{
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    color: #212529;
}
.trainer .people .team1 .pro p{
    color: #212529;
}
.trainer .people .team2{
    width: 45%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 10px 10px 21px rgba(0, 0, 0, 0.13);
}
.trainer .people .team2 .img img{
    width: 100%;
    object-fit: cover;
}
.trainer .people .team2 .teamDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}
.trainer .people .team2 .name,.trainer .people .team2 .pro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.trainer .people .team2 .name{
    padding: 5px 20px 0 20px;
}
.trainer .people .team2 .pro{
    padding: 2px 20px 0px 20px;
}
.trainer .people .team2 .name h4{
    font-size: 1.5rem;
    color: #212529;
}
.trainer .people .team2 .name i,.trainer .people .team2 .pro i{
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    color: #212529;
}
.trainer .people .team2 .pro p{
    color: #212529;
}



/* =================CLASS Layout=========== */



.classes{
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 8rem;
}
.classes .para{
    font-size: 1.3rem;
    color:#666262;
    padding-bottom: 10px;
    align-items: center;
}
.classes .h2{
    font-size: 2.2rem;
    color: #222;
    font-weight: 700;
    padding-bottom: 50px;
    align-items: center;
}
.classes .types{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.classes .types .yoga{
    width: 30%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 10px 10px 21px rgba(0, 0, 0, 0.13);
}
.classes .types .yoga img{
    width: 100%;
    object-fit: cover;
    height: 370.367;
}
.classes .types .yoga .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 5px 20px 0 30px;
}
.classes .types .yoga .top .top_left h2{
    color: #212529;
    font-size: 1.7rem;
}
.classes .types .yoga .top .top_left p{
    font-size: 1.1rem;
    color:#212529;
}
.classes .types .yoga .top .top_left p span{
    color: #171819;
    font-weight: 700;
    font-size: 1.1rem;
}
.classes .types .yoga .top .top_right h4{
    font-size: 1rem;
    background: #f13a11;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border-radius: 50%;
}
.classes .types .yoga .bottom{
    padding: 15px 30px 30px 30px;
}
.classes .types .yoga .bottom p{
    font-size: 1.1rem;
    color:#666262;
}


.classes .types .areobic{
    width: 30%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 10px 10px 21px rgba(0, 0, 0, 0.13);
}
.classes .types .areobic img{
    width: 100%;
    object-fit: cover;
    height: 370.367;
}
.classes .types .areobic .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 5px 20px 0 30px;
}
.classes .types .areobic .top .top_left h2{
    color: #212529;
    font-size: 1.7rem;
}
.classes .types .areobic .top .top_left p{
    font-size: 1.1rem;
    color:#212529;
}
.classes .types .areobic .top .top_left p span{
    color: #171819;
    font-weight: 700;
    font-size: 1.1rem;
}
.classes .types .areobic .top .top_right h4{
    font-size: 1rem;
    background: #f13a11;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border-radius: 50%;
}
.classes .types .areobic .bottom{
    padding: 15px 30px 30px 30px;
}
.classes .types .areobic .bottom p{
    font-size: 1.1rem;
    color:#666262;
}


.classes .types .cardio{
    width: 30%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 10px 10px 21px rgba(0, 0, 0, 0.13);
}
.classes .types .cardio img{
    width: 100%;
    object-fit: cover;
    height: 370.367;
}
.classes .types .cardio .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 5px 20px 0 30px;
}
.classes .types .cardio .top .top_left h2{
    color: #212529;
    font-size: 1.7rem;
}
.classes .types .cardio .top .top_left p{
    font-size: 1.1rem;
    color:#212529;
}
.classes .types .cardio .top .top_left p span{
    color: #171819;
    font-weight: 700;
    font-size: 1.1rem;
}
.classes .types .cardio .top .top_right h4{
    font-size: 1rem;
    background: #f13a11;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border-radius: 50%;
}
.classes .types .cardio .bottom{
    padding: 15px 30px 30px 30px;
}
.classes .types .cardio .bottom p{
    font-size: 1.1rem;
    color:#666262;
}



/* ================Contact Layout=========== */



.contact{
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact .form{
    width: 45%;
}
.contact .form h2{
    font-size: 2.3rem;
    color: #212529;
    padding-bottom: 10px;
    width: 100%;
}
.contact .form .fill{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact .form .fill input, .contact .form .fill textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid #95a5a6;
    outline: none;
    margin: 13px 0;
}
.contact .form .fill input:focus, .contact .form .fill textarea:focus{
    border-color: #111;
}
.contact .form .fill input::placeholder{
    color: #7f8c8d;
    font-size: 1.1rem;
    font-family: 'Edu TAS Beginner', cursive;
}
.contact .form .fill textarea::placeholder{
    color: #7f8c8d;
    font-size: 1.1rem;
    font-family: 'Edu TAS Beginner', cursive;
    height: 80%;
}
.contact .form .fill a{
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    background: #111;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    margin: 13px 0;
}
.contact .map{
    width: 45%;
}
.contact .map h2{
    font-size: 2.3rem;
    color: #212529;
    padding-bottom: 10px;
    width: 100%;
}
.contact .map P{
    font-size: 1.1rem;
    color: #212529;
    padding-bottom: 30px;
    width: 100%;
}
.contact .map P i{
    color: red;
    padding: 4px;
}
.contact .map iframe{
    width: 100%;
    height: 70%;
}


/* ================Footer Layout=========== */


.footer{
    border-top: 1px solid #ecf0f1;
    padding: 5rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    background-color:#111;
}

.footer .Fleft{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer .Fleft h1{
    color: #fff;
    font-family:'Times New Roman', Times, serif;
}
.footer .Fleft h3,h4{
    color: #fff;
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
}
.footer .Fright{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer .Fright .FAbout h1{
    color: #fff;
    padding-bottom: 15px;
}
.footer .Fright .FAbout p{
    padding: 5px;
}
.footer .Fright .FAbout a{
    text-decoration: none;
}
.footer .Fright .FMyAccount h1{
    color: #fff;
    padding-bottom: 15px;
}
.footer .Fright .FMyAccount p{
    padding-top: 5px;
}
.footer .Fright .FMyAccount a{
    text-decoration: none;
}
.footer .Fright .InstallApp h1{
    color: #fff;
}
.footer .Fright .InstallApp p{
    padding: 15px 0px;
}
.footer .Fright .InstallApp .Fimg img{
    border-radius: 5px;
}
.footer p{
    color: #fff;
}